.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
  background: transparent;
}

.navbar .logo {
  color: #fff;
  margin: 0;
}

.navlinks {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}
@media (max-width:768px){
  .navlinks{
    display: none;
  }
  .navbar .logo{
    margin-left: auto;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}

.navlinks li a {
  color: #fff;
  text-decoration: none;
  font-weight: bolder;
  font-size: 40px;
  margin-right: 20px;
}

.navlinks li a:hover {
  color: #ff6347;
}
