*{
  margin: 0;
  padding: 0;
  color: whitesmoke;
}
html{
  scroll-behavior: smooth;
}

body{
     
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  min-height: 100vh;
     background: radial-gradient(
      ellipse at bottom center,
      rgba(0, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.85) 60%
    ),
    linear-gradient(
      120deg,

    darkviolet,
    darkblue,
    lightblue
    );
  background-size: 400% 400%;
  animation: gradientShift 15s ease infinite;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

          /* Glassmorphism card example */ 
/* 
          .card {  background: rgba(255, 255, 255, 0.15);
              backdrop-filter: blur(10px); 
               -webkit-backdrop-filter: blur(10px); 
                border-radius: 15px;  padding: 2rem;  
                width: 300px; 
                 margin: auto;  
                 box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
                  color: #fff; 
                   text-align: center; } */